MyMoneyManager/Service References/ManagerSevice/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" />
  <xs:element name="AddItemToDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" minOccurs="0" name="item" nillable="true" type="q1:DtoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" minOccurs="0" name="item" nillable="true" type="q2:DtoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemFromDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditItemInDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" minOccurs="0" name="item" nillable="true" type="q3:DtoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditItemInDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="value1" type="xs:double" />
        <xs:element minOccurs="0" name="value2" type="xs:double" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expType" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsFromDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" minOccurs="0" name="GetItemsFromDbResult" nillable="true" type="q4:ArrayOfDtoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>