MyMoneyManager/Service References/ManagerSevice/ServiceModule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceModule" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceModule_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyMoneyManager.Infrastucture.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceModule_AddItemToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToDb" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_AddItemToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToDbResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_DeleteItemFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemFromDb" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_DeleteItemFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemFromDbResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_EditItemInDb_InputMessage">
    <wsdl:part name="parameters" element="tns:EditItemInDb" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_EditItemInDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditItemInDbResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_GetItemsFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsFromDb" />
  </wsdl:message>
  <wsdl:message name="IServiceModule_GetItemsFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsFromDbResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceModule">
    <wsdl:operation name="AddItemToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceModule/AddItemToDb" message="tns:IServiceModule_AddItemToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceModule/AddItemToDbResponse" message="tns:IServiceModule_AddItemToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceModule/DeleteItemFromDb" message="tns:IServiceModule_DeleteItemFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceModule/DeleteItemFromDbResponse" message="tns:IServiceModule_DeleteItemFromDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditItemInDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceModule/EditItemInDb" message="tns:IServiceModule_EditItemInDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceModule/EditItemInDbResponse" message="tns:IServiceModule_EditItemInDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceModule/GetItemsFromDb" message="tns:IServiceModule_GetItemsFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceModule/GetItemsFromDbResponse" message="tns:IServiceModule_GetItemsFromDb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceModule" type="tns:IServiceModule">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItemToDb">
      <soap:operation soapAction="http://tempuri.org/IServiceModule/AddItemToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemFromDb">
      <soap:operation soapAction="http://tempuri.org/IServiceModule/DeleteItemFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItemInDb">
      <soap:operation soapAction="http://tempuri.org/IServiceModule/EditItemInDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsFromDb">
      <soap:operation soapAction="http://tempuri.org/IServiceModule/GetItemsFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceModule" type="tns:IServiceModule">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceModule_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddItemToDb">
      <soap12:operation soapAction="http://tempuri.org/IServiceModule/AddItemToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemFromDb">
      <soap12:operation soapAction="http://tempuri.org/IServiceModule/DeleteItemFromDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItemInDb">
      <soap12:operation soapAction="http://tempuri.org/IServiceModule/EditItemInDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsFromDb">
      <soap12:operation soapAction="http://tempuri.org/IServiceModule/GetItemsFromDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceModule">
    <wsdl:port name="BasicHttpBinding_IServiceModule" binding="tns:BasicHttpBinding_IServiceModule">
      <soap:address location="http://localhost:8080/ServiceModule" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceModule" binding="tns:NetTcpBinding_IServiceModule">
      <soap12:address location="net.tcp://localhost:8090/ServiceModule" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/ServiceModule</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ИЛЬЯ-ПК\Lavrik</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>